.jumbotron {
  padding-top: 5rem;
}

.mybg {
  background-color: #e2edff;
}

.card {
  background-color: rgba(163, 206, 206, 0.192);
  border-color: rgba(150, 150, 150, 0.664);
}
section {
  padding-top: 5rem;
}
